h1, h2, h4, h3, p {
    color: rgb(238, 238, 238);
    font-family: 'Roboto Condensed', sans-serif;
}
.main-container{
    margin-top: 6.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .start-photo{
    display: flex;
    width: 100%;

}
.main-container .start-photo img{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 90vh;
    transition: transform 2s;
}
.main-container .start-photo img:hover{
    transform: translateY(-5%) scale(1.1);
}
.main-container .header{
    text-align: center;
    display: flex;
    position: absolute;
    flex-direction: column;
}
.main-container .header h1{
    font-size: 5vw;
    font-weight: bold;
    display: flex;
}
.main-container .header h2{
    font-size: 2.4vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.header .galleryBtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header .galleryBtn a{
    text-decoration: none;
    color: black;
    display: flex;
}
.header .galleryBtn a button{
    background-color: rgb(238, 238, 238);
    border-radius: 9999px;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 1.5vw;
    display: flex;
    transition: all 0.5s;
    
}
.header .galleryBtn a button:hover{
    color: rgb(238, 238, 238);
    background-color: #1d1d1d;

}

@media screen and (max-width: 900px){
    .main-container .header h1{
        font-size: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .main-container .header h2{
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .header .galleryBtn a button{
        font-size: 14px;
    }
}