.contact-container{    
    margin-top: 12vw;
    row-gap: 6vw;
    display: grid;
    grid-template-rows: 5vw 5vw 10vw;
    justify-content: center;
    animation: fadein 1s;
    overflow-x: hidden;
}
@media screen and (max-width: 700px){
    .contact-container{
        grid-template-rows: 33vw 33vw 33vw;
        height: 90vh;
        margin-top: 100px;
        row-gap: 5px;
    }
    .contact-container .grid-container div{
        width: 330px;
        height: 80px;
        
    }
    .contact-container .grid-container i,
    .contact-container .grid-container .fill{
        font-size: 20px;
    }
    .contact-container .grid-container .mail i{
        margin-left: 10px;
    }

}

.grid-container div{
    width: 35vw;
    height: 6vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: rgb(238, 238, 238) solid 1px;
    background-color: rgb(29, 29, 29);
    border-radius: 9999px;
    transition-duration: 0.3s;
}

.grid-container div:hover{
    background-color: rgb(59, 59, 59);
    border: rgb(59, 59, 59) solid 1px;
}
.grid-container div:hover .fill{
    color: rgb(238, 238, 238);
}
.grid-container div:hover i{
    color: rgb(238, 238, 238);
}
.grid-container div:hover a{
    color: rgb(238, 238, 238);
}
.grid-container i, .fill{
    color: rgb(238, 238, 238);
    font-size: 2vw;
    padding: 10px;
}
.grid-container .fill{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.grid-container a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}
@keyframes fadein{
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}