.scroll {
	width: 4vw;
	height: 4vw;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
  }
  .scroll::before{
	content: '';
	position: absolute;
	top: 25%;
	right: 33%;
	left: 34%;
	width: 30%;
	height: 30%;
	border-left: 2px solid rgb(255, 255, 255);
	border-bottom: 2px solid rgb(255, 255, 255);
	transform: rotate(-45deg);
  }

  @media screen and (max-width: 900px){
	.scroll{
		width: 40px;
		height: 40px;
	}
  }
  
  @keyframes down {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translateY(15px);
	}
	40% {
	  transform: translate(0);
	}
  }
  
  @-webkit-keyframes down {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translateY(15px);
	}
	40% {
	  transform: translate(0);
	}
  }
